#div1 {
    background: red;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.div2 {
    font-size: 50px;
}

#div3 {
    background: green;
    width: 100%;
    text-align: center;
    padding: 200px 0;
}

.div4 {
    font-size: 50px;
}

#div5 {
    background: blue;
    width: 50%;
    float: right;
    text-align: center;
    padding: 200px 0;
}

.div6 {
    font-size: 50px;
}

#div7 {
    background: red;
    width: 50%;
    text-align: center;
    padding: 200px 0;
}

.div8 {
    font-size: 50px;
}

#div9 {
    background: orange;
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.div10 {
    font-size: 50px;
}
